<!DOCTYPE html>
<html>

<head>

	<title>EDIT Contest | CodeManiacs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/sheet.css">
	<link rel="stylesheet" type="text/css" href="/css/contest_admin.css">
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="/css/grid.css">
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->

</head>

<body>
	<header>
		<% include partials/header %>
	</header>
	<div class="main">
	<form class="contest-form">
		<h1><strong>EDIT CONTEST</strong></h1><br>
		Contest Code: <span name="contestCode" id="contestCode"><%= data.code %></span><br>
		Contest Name: <span style="color:red">*</span> <input type="text" name="contestName" value="<%= data.name %>" id="contestName"><br>
		Date: <span style="color:red">*</span> <input type="date" name="date" value="<%= data.YY %>-<%= data.MM %>-<%= data.DD %>" id="date"><br>
		Starting Time: <span style="color:red">*</span> <input type="time" name="startTime" value="<%= data.TT %>" id="startTime"><br>
		Duration (minutes): <span style="color:red">*</span> <input type="text" name="duration" value="<%= data.duration %>" id="duration"><br>
		Make the contest visible to the public? (1 for yes, 0 for no) <span style="color:red">*</span> <input type="text" name="visibility" value="<%= data.visible ? '1': '0' %>" id="visibility"><br>
		Problems to be included (qID "," comma separated): <input type="text" name="problemsID" value="<%= data.problemsID %>" id="problemsID"><br>
		<button type="submit" class="button submit btn btn-danger btn-md">Edit Contest</button>
	</form>
	</div>
	<footer>
		<% include partials/footer %>
	</footer>
</body>
<script src="/js/edit_contest.js" defer></script>

</html>