<!DOCTYPE html>
<html>

<head>

	<title>Editorials | CodeManics</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/sheet.css">
	<link rel="stylesheet" type="text/css" href="/css/contest_admin.css">
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/grid.css">

</head>

<body>
	<header>
		<% include partials/header %>
    </header>
    <div class="grid-content content">
        <div class="box">
            <h1 class="title center"> Editorials </h1>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Tags</th>
                        <th>Difficulty</th>
                        <th>Editorial</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < data.length; i++) { %>
                    <tr>
                        <td>
                            <a href="/problem/<%= data[i].qID %>">
                                <%= data[i].qID %></a>
                        </td>
                        <td><a href="/problem/<%= data[i].qID %>">
                                <%= data[i].name %></a>
                        </td>
                        <td>
                            <%= data[i].tags %>
                        </td>
                        <td>
                                <% if (data[i].difficulty == 0) { %>Beginner<% } %>
                                <% if (data[i].difficulty == 1) { %>Easy<% } %>
                                <% if (data[i].difficulty == 2) { %>Medium<% } %>
                                <% if (data[i].difficulty == 3) { %>Hard<% } %>
                        </td>
                        <td>
                            <a href="/editorials/<%= data[i].qID %>">
                                Click here</a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <% %>
    <footer>
		<% include partials/footer %>
	</footer>
</body>

</html>