<!DOCTYPE html>
<html>

<head>

	<title>CodeManiacs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/sheet.css">
	<link rel="stylesheet" type="text/css" href="/css/grid.css">
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>

<body>
	<header>
		<% include partials/header %>
	</header>
	<div class="main">

		<div class="container">
			<div class="row">
				<div class="col-lg-4 block">
					<div>
						<h3>Recent News</h3>
						<hr>
					</div>
				</div>
				<div class="col-lg-4 block">
					<div>
						<h3>Recent Problems</h3>
						<hr>
						<table class="table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Difficulty</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i = recentProblems.length-1; i >= Math.max(0, recentProblems.length-6); i--) { %>
								<tr>
									<td>
										<%= recentProblems[i].name %>
									</td>
									<td>
										<%= recentProblems[i].difficulty %>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-lg-4 block">
					<div>
						<h3>Top Users</h3>
						<hr>
						<table class="table">
							<thead>
								<tr>
									<th>Rank</th>
									<th>Username</th>
									<th>Solved</th>
								</tr>
							</thead>
							<tbody>
								<% for(var i = 0; i < Math.min(ranks.length, 6); i++) { %>
								<tr>
									<td>
										<%= ranks[i].rank %>
									</td>
									<td>
										<%= ranks[i].username %>
									</td>
									<td>
										<%= ranks[i].solved %>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<% include partials/footer %>
	</footer>
</body>
<script>
	var URL = window.location.href;
	if (URL.search("msg=") != -1) {
		var message = URL.split("msg=")[1];
		message = message.replace(/-/g, " ");
		window.alert(message);
	}
</script>

</html>