<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/sheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    <style>
        .box pre {
            white-space: pre-wrap;
        }
    </style>
    <title>ProbName | CodeManiacs</title>
</head>

<body class="grid">
    <header>
        <% include partials/header %>
    </header>
    <div class="grid-content content">
        <div class="grid-content box">
            <h1 id="QuesName" class="title">
                <%= data.name %>
            </h1>
            <hr>
            <h2 class="subtitle">Description</h2>
            <pre id="Description"><%= data.description %></pre>
            <hr>
            <h2 class="subtitle">Input Format</h2>
            <pre id="InputFormat"><%= data.inputFormat %></pre>
            <hr>
            <h2 class="subtitle">Output Format</h2>
            <pre id="OutputFormat"><%= data.outputFormat %></pre>
            <hr>
            <h2 class="subtitle">Constraints</h2>
            <pre id="Constraints"><%= data.constraints %></pre>
            <hr>
            <h2 class="subtitle">Sample Input</h2>
            <pre id="SampleInput"><%= data.sampleInput %></pre>
            <hr>
            <h2 class="subtitle">Sample Output</h2>
            <pre id="SampleOutput"><%= data.sampleOutput %></pre>
            <hr>
            <h2 class="subtitle">Explanation</h2>
            <pre id="Explanation"><%= data.explanation %></pre>
            <hr>
            <h2 class="subtitle">Difficulty</h2>
            <pre id="DifficultyLevel"><%= data.difficulty %></pre>
            <hr>
            <h2 class="subtitle">Problem Setter</h2>
            <pre id="ProblemSetter"><%= data.problemSetter %></pre>
            <hr>
            <h2 class="subtitle">Time Limit</h2>
            <pre id="TimeLimit"><%= data.timeLimit %> sec</pre>
            <hr>
            <h2 class="subtitle">Memory Limit</h2>
            <pre id="MemoryLimit"><%= data.memoryLimit %> KB</pre>
            <hr>
            <h2 class="subtitle">Tags</h2>
            <pre id="Tags"><%= data.tags %></pre>
            <hr>
            <h2 class="subtitle">Editorial</h2>
            <pre id="Editorial"><%= data.editorial %></pre>
            <hr>
            <form method="POST" action="">
                <input type="submit" value="Submit" class="button is-link">
            </form>
        </div>
    </div>
    <footer>
        <% include partials/footer %>
    </footer>
</body>

</html>