<!DOCTYPE html>
<html>

<head>

    <title>Ranklist</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/sheet.css">
    <link rel="stylesheet" type="text/css" href="/css/manage_admins.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <% include partials/header %>
    </header>

    <div class="ranklist-grid">
        <div class="ranklist-table">
            <table class="table table-hover">
                <h1><strong> <%= contest[0].name %> </strong></h1>
                <hr>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Score</th>
                        <th>Penalty</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0 ; i < list.length ; i++) {%>
                        <tr>
                            <td> <%= (i+1) %> </td>
                            <td> <%= list[i].username %> </td>
                            <td> <%= list[i].score %> </td>
                            <td> <%= list[i].penalty %> </td>
                        </tr>
                    <% }%>
                </tbody>
            </table>
        </div>
    </div>
    
    <footer>
        <% include partials/footer %>
    </footer>
</body>

<script>

</script>

</html>
