<!DOCTYPE html>
<html>

<head>

	<title>Contests | CodeManiacs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/sheet.css">
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="/css/grid.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
	<header>
		<% include partials/header %>
	</header>

	<div class="grid-content content small">

		<div class="box">
			<h1 class="title center">Upcoming Contests</h1>
			<hr>
			<table class="table">
				<thead>
					<tr>
						<th>Code</th>
						<th>Name</th>
						<th>Starting in</th>
						<th>Duration</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="show-all-contests" class="display-all-contests">
					<% for(var i = 0; i < contests.length; i++){ %>
					<tr id="<%= i %>">
						<td>
							<%= contests[i].code %>
						</td>
						<td>
							<%= contests[i].name %>
						</td>
						<td>
							<%= contests[i].dt %>
							<%= contests[i].tm %>
						</td>
						<td>
							<%= contests[i].dur %>
						</td>
						<td>
							<a href="/contests/<%= contests[i].code %>">
								<button type="button" class="btn btn-success btn-sm">Enter</button>
							</a>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>

		<div class="box">
			<h1 class="title center">Past Contests</h1>
			<hr>
			<table class="table">
				<thead>
					<tr>
						<th>Code</th>
						<th>Name</th>
						<th>Started at</th>
						<th>Duration</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="show-all-contests" class="display-past-contests">
					<% for(var i = 0; i < pastcontests.length; i++){ %>
					<tr id="past_<%= i %>">
						<td>
							<%= pastcontests[i].code %>
						</td>
						<td>
							<%= pastcontests[i].name %>
						</td>
						<td>
							<%= pastcontests[i].dt %>
							<%= pastcontests[i].tm %>
						</td>
						<td>
							<%= pastcontests[i].dur %>
						</td>
						<td>
							<a href="/contests/<%= pastcontests[i].code %>">
								<button type="button" class="btn btn-success btn-sm">Enter</button>
							</a>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<h1 class="title center">More Contests</h1>
		<!-- <div class="box">
			<h1 class="title center">More Contests</h1>
			<hr>
			<table class="table">
				<thead>
					<tr>
						<th>Code</th>
						<th>Name</th>
						<th>Starting in</th>
						<th>Platform</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="show-all-contests" class="display-all-contests">
					<% for(var i = 0; i < external.length; i++){ %>
					<tr id="<%= contests.length + i %>">
						<td>
							<%= external[i].code %>
						</td>
						<td>
							<%= external[i].name %>
						</td>
						<td>
							<%= external[i].dt %>
							<%= external[i].tm %>
						</td>
						<td>
							<%= external[i].platform %>
						</td>
						<td>
							<a href="<%= external[i].link %>" target="_blank">
								<button type="button" class="btn btn-success btn-sm">Enter</button>
							</a>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div> -->
	</div>

	<footer>
		<% include partials/footer %>
	</footer>
</body>
<script src="/js/contest_countdown.js"></script>

</html>